{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="container">  
    <div class="row mt-5 mb-3">  
        <div class="col-md-12">  
            <div class="float-left">  
            <h1 class="mb-0">{{ event.name }}</h1>  
            <p>Popular Event</p>  
            </div>   
        </div>  
    </div>  

    <!-- Event --> 
    <div class="row">  
        <div class="col-md-12">  
            <div class="card my-3">  
                <div class="card-body">  
                    <div class="media">  
                    <img class="align-self-start mr-3" src="{{ event.event_image }}">  
                        <div class="media-body">  
                            <small class="font-weight-bold text-muted">Stay 2 nights</small>  
                            <h5 class="mt-0">{{ event.name }}</h5>  
                            <p>{{ event.event_description }}</p>  
                            <a href="#" class="btn btn-danger">Book Now</a>  

                            <!-- Show Cancel Button Only if Logged-in User is the Creator -->
                            {% if current_user.id == event.creator_id %}
                            <form action="{{ url_for('cancel_event', event_id=event.id) }}" method="POST" onsubmit="return confirm('Are you sure you want to cancel this event?');">
                                <button type="submit" class="btn btn-danger">Cancel Event</button>
                            </form>
                            {% endif %}
                        </div>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>
    <hr>
    <!-- Comments -->  
    <div class="row">  
        <div class="col-md-12">  
            <h2>Comments</h1>  
        </div>  
    </div>  

    <div class="row border-bottom"> 
    {{ render_form(form,"/experiences/{0}/comment".format(event.id)) }}
    
    {% for comment in event.comments %}
    <div class="col-md-12">  
        <b>{{ comment.user.name }}</b>
        <small>Posted On: {{ comment.date.strftime('%Y-%m-%d %H:%M:%S') }}</small>
        <p>{{ comment.text }}</p>  
    </div> 
    {% endfor %} 
    </div>  
</div> 

{% endblock %}